@model ProyectoDia.DataAccess.Paciente


@{
    ViewData["Title"] = "Create Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Patients CRUD</h1>
<hr />
<div class="row">
    <div class="col-12">
        <div class="card-border">
            <div class="card-header">
                <h3><strong>Create Patient</strong></h3>
            </div>
        </div>
        <div class="card-body">
            
            <form asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TarjetaSanitaria" class="control-label"></label>
                    <input asp-for="TarjetaSanitaria" class="form-control" placeholder="Ingresa el numero de TS del paciente" />
                    <span asp-validation-for="TarjetaSanitaria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre del paciente" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" placeholder="Ingresa el apellido del paciente" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="control-label"></label>
                    <input asp-for="FechaNacimiento" class="form-control" placeholder="Ingresa la fecha de nacimiento del paciente" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" placeholder="Ingresa el telefono del paciente" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" placeholder="Ingresa la direccion del paciente" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MedicoCabecera" class="control-label"></label>
                    <input asp-for="MedicoCabecera" class="form-control" placeholder="Ingresa la direccion del paciente" />
                    <span asp-validation-for="MedicoCabecera" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success"><i class="fas fa-user"></i>Crear Paciente</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--BOTON PARA VOLVER A INDEX-->
<div>
    <a asp-action="Index">Volver a lista</a>
</div>