
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="botones">
        <a class="btn btn-info" href="/Medico/Index"><i class="fas fa-regular fa-hand-holding-medical mr-1"></i> Médicos</a>
        <a class="btn btn-info" href="/Medico/ListarMedicos"><i class="fas fa-regular fa-file-medical mr-1"></i> Activar médicos</a>
        <a class="btn btn-info" href="/Paciente/Index"><i class="fas fa-regular fa-hand-holding-medical mr-1"></i> Pacientes</a>
        <a class="btn btn-info" href="/Paciente/ListarPacientes"><i class="fas fa-regular fa-file-medical mr-1"></i>  Activar pacientes</a>
        <a class="btn btn-info" href="/VisitaMedica/Index"><i class="fas fa-solid fa-info mr-1"></i> Visita Medica</a>
    </div>


@*<div class="d-flex justify-content-between" style="height:100%;">
    <div class=" flex-grow-2" height="500" style="background-color:powderblue">
        <div class="pt-5" style="width:100%; height:auto;">
            <img src="~/images/gestion-sanitaria-700x467.jpg" />
        </div>
    </div>

    <div >
        <iframe width="600" height="467" frameborder="0" src="https://www.intramed.net/contenidolista.asp?contenidotipoid=27" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

    </div>
</div>*@
    <div class=" flex-grow-2" height="500" style="background-color:powderblue">
        <div class="pt-5" style="width:100%; height:auto;">
            <img src="~/images/gestion-sanitaria-700x467.jpg" />
        </div>
    </div>

    <div >
        <iframe width="600" height="467" frameborder="0" src="https://www.intramed.net/contenidolista.asp?contenidotipoid=27" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

    </div>
</div>*@




