
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Patients CRUD</h1>

<a class="btn btn-primary" href="/Medico/Index"><i class="fa-solid fa-pencil"></i>Medico</a>
<a class="btn btn-info" href="/Paciente/Index" ><i class="fa-solid fa-info"></i>Paciente</a>
<a class="btn btn-danger" href="/VisitaMedica/Index"><i class="fa-solid fa-trash-can"></i>Visita Medica</a>


