
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Gestion Sanitaria</h1>
<div class="home">
    <a class="btn btn-primary" href="/Medico/Index"><i class="fas fa-solid fa-pencil"></i> Medico</a>
    <a class="btn btn-info" href="/Paciente/Index"><i class="fas fa-solid fa-info"></i> Paciente</a>
    <a class="btn btn-danger" href="/VisitaMedica/Index"><i class=" fas fa-solid fa-trash-can"></i> Visita Medica</a>
</div>





