
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Gestion Sanitaria</h2>

<div class="d-flex justify-content-between">
    <div>
        <div class="home flex-grow-2">
            <a class="btn btn-info" href="/Medico/Index"><i class="fas fa-solid fa-pencil"></i> Medico</a>
            <a class="btn btn-info" href="/Medico/ListarMedicos"><i class="fas fa-solid fa-info"></i> Medicos sin filtrar</a>
            <a class="btn btn-info" href="/Paciente/Index"><i class="fas fa-solid fa-info"></i> Paciente</a>
            <a class="btn btn-info" href="/Paciente/ListarPacientes"><i class="fas fa-solid fa-info"></i> Paciente sin filtrar</a>
            <a class="btn btn-info" href="/VisitaMedica/Index"><i class=" fas fa-solid fa-trash-can"></i> Visita Medica</a>
        </div>
        <div class="pt-5" style="width:100%; height:auto;">
            <img src="~/images/cyber_salud-640x283.jpg" />
        </div>
    </div>

    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" width="100%" src="https://www.intramed.net/contenidolista.asp?contenidotipoid=27"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>

    </div>

</div>




