
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="botones">
        <a class="btn btn-info" href="/Medico/Index"><i class="fas fa-regular fa-hand-holding-medical mr-1"></i> Médicos</a>
        <a class="btn btn-info" href="/Medico/ListarMedicos"><i class="fas fa-regular fa-file-medical mr-1"></i> Activar médicos</a>
        <a class="btn btn-info" href="/Paciente/Index"><i class="fas fa-regular fa-hand-holding-medical mr-1"></i> Pacientes</a>
        <a class="btn btn-info" href="/Paciente/ListarPacientes"><i class="fas fa-regular fa-file-medical mr-1"></i>  Activar pacientes</a>
        <a class="btn btn-info" href="/VisitaMedica/Index"><i class="fas fa-solid fa-info mr-1"></i> Visita Medica</a>
    </div>





