@model ProyectoDia.DataAccess.Medico

@{
    ViewData["Title"] = "Detalle medico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Medico</h1>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./images/MYR.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Informacion del medico</h5>
                <p class="card-text">Nombre:<small class="text-muted">@Html.DisplayFor(m => m.Nombre)</small></p>
                <p class="card-text"> Matricula:<small class="text-muted"> @Html.DisplayFor(m => m.matricula)</small></p>
            </div>
        </div>
    </div>
</div>

<!--BOTON PARA VOLVER A INDEX-->
<div>
    <a class="btn btn-primary" asp-action="Index">Volver a lista</a>
</div>
