@model ProyectoDia.DataAccess.VisitaMedica

@{
    ViewData["Title"] = "Detalle medico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Información detallada de la visita medica</h3>

<div class="mb-3"  background-color:transparent">
    <p class="card-text">Nombre Paciente:<small class="text-muted">@Html.DisplayFor(m => m.Paciente.Nombre)</small></p>
    <p class="card-text"> Nombre medico:<small class="text-muted"> @Html.DisplayFor(m => m.Medico.Nombre)</small></p>
    <p class="card-text"> Hora y Fecha:<small class="text-muted"> @Html.DisplayFor(m => m.Fecha)</small></p>
    <p class="card-text"> Observaciones:<small class="text-muted"> @Html.DisplayFor(m => m.Observaciones)</small></p>
</div>

<!--BOTON PARA VOLVER A INDEX-->
<div>
    <a class="btn btn-primary" asp-action="Index"> Volver a lista</a>
</div>
